<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../../css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="main-container">
    <h1 class="main-container-header">

      {{#if text}}
        {{text}}
      {{else}}
        This is sooo... cool!
      {{/if}}

    </h1>

  </div>
</body>

</html>